td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

svg {
    height: 150px;
}

td:first-of-type, td:first-of-type > div {
    background: #f5f5f5;
    width: 250px;
    height: 250px;
}

.jumbotron {
    border-radius: 0px;
}